listview > row > box > editablelabel, /* table with data */
box > box > label /* table header */
{
    border: 1px solid @borders;
    padding: 10px;
}

.duplicate {
    background: #e23a3a;
}

.changed {
    background: lighter(gray);
}
